<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="systemDB" connectionString="data source=EDUARDO\SQLEXPRESS01;initial catalog=TheSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>