<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="systemDB" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Eduardo\Desktop\db.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>